@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #080705;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {

  font-family: 'Montserrat', sans-serif;

}




